body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: italic;
}
h1{
    text-align: center;
    color: #fff;
    opacity: .7;
   border-bottom: 1px solid gray;
    color: #892cdc;;
}


.container{
   
    height: 100vh;
    width: 100%;
   background: linear-gradient(rgba(0, 0, 0, 0.4),transparent), url(image/images\ \(2\).jpg) center center no-repeat;
   background-size: cover;
   opacity: 1;
   
}
::placeholder{
    font-size: 20px;
    position: relative;
    left: 50px;
    color: #fff;
}
.mo img{
    position: relative;
    right: 602px;
    top: 14px;
}
input{
    border: none;
    border-left: 1px solid #892cdc;
    border-top: 1px solid #892cdc;
    background-color: transparent;
    width: 90%;
    height: 40px;
   position: relative;
   left: 20px;
  

   
}
 .mi img{
   position: relative;
   left: 67px;
   top: 16px;
}

.mi{
    position: relative;
    right: 44px;
}
    .mes img{
        position: relative;
        left: 67px;
        top: 16px;
       
     }

     .mes{
         position: relative;
         right: 44px;
     }

     .mes img{
        position: relative;
        left: 67px;
        top: 16px;
       
     }

     .moi{
         position: relative;
         right: 44px;
     }
     .moi img{
        position: relative;
        left: 67px;
        top: 16px;
       
     }
     .men{
        position: relative;
        right: 44px;
    }
    .men img{
       position: relative;
       left: 67px;
       top: 15px;
      
    }

.form{
    width: 50%;
    height: 72vh;
    background-color: rgba(0,0,0,.87);;
    margin: 0 auto;
    position: relative;
    top: 60px;
    border: 10px solid #892cdc;;
    box-shadow: -6px 0px 8px 30px #26caf8;
   
}
.yoi{
    position: relative;
    top: 4px;
}
.btn{
    position: relative;
    left: 450px;
    top: 2px;
  padding: 20px 50px;
  font-size: 20PX;
  color: #fff;
  background-color: #892cdc;
  background: linear-gradient(#27d8 0%, #26caf8 50%, #c625d0 100%);
  border-radius: 30PX;
  border: none;
  box-shadow: 6PX 10PX 20px 30px #fff3;
  cursor: pointer;
  transform: all .2s;
  border: 2px solid #45aaf2;
  font-weight: bold;
transition: .4S linear;
position: relative;
}
.btn:hover{
  
  background-color: #c625d0;
}



